@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
 
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: @Configuration["AppDemo:BackgroundColour"]
    }
    h1 {
        color: @Configuration["AppDemo:FontColour"];
        font-size: @Configuration["AppDemo:FontSize"]px;
    }
    }
</style>

<h1>
    @Configuration["AppDemo:Message"]
</h1>